<header class="header_home">
    <div class="especial_div">
        <div class="especial">
            <h2 >Pagina de Pruebas de Rito</h2>
            <p >Es una pagina acerca del videojuego creado por riot games</p>
        </div>
        <img src="/www/assets/img/header_logo.jpg" alt="">
    </div>

    <h3>Lista de campeones</h3>

    <ul>
        <li ng-repeat="name in $ctrl.names">{{name}}</li>
    </ul>
    
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur perferendis cupiditate aut non beatae ex excepturi aperiam dignissimos doloremque illo numquam, molestias! Accusantium magnam velit illo assumenda iusto, ducimus dignissimos. ipsum dolor sit amet, consectetur adipisicing elit. Numquam maxime, consequuntur accusamus expedita iure ut similique rerum laudantium reprehenderit, omnis, iste dignissimos nulla voluptas sit a, dolore debitis esse corporis?
</header>
